*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "宋体", "微软雅黑";
    font-size: 20px;
    background-color: #EBEBEB;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
img{
    vertical-align: top;
}
.clear{
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}
.main{
    margin: 0 auto;
    width:760px;
    background-color: white;
}
.main .list{
    float: left;
    width:100% ;
    height: 36px;
}
.main .list li{
    float:left;
    color: white;
    width: 25%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: palevioletred;
}
.main .list li a{
    color: white;
}
.main .list li a .select{
    display: none;
    background-color: palevioletred;
}
.main .list li.input{
    width: 50%;
    /*text-align: center;*/
}
.main .list li.input input{
    float: left;
    color: white;
    font-size: 20px;
    border: none;
    height: 36px;
    line-height: 36px;
    vertical-align: bottom;
    background-color: palevioletred;
}
.main .list li.input input[type=file]{
    width: 70%;
}
.main .list li.input input[type=button]{
    width: 30%;
}
.main .contents .sample{
    position: relative;
    margin: 20px 20px;
    float: left;
    width: 720px;
    height: 510px;
}
.main .contents .sample img{
    width: 100%;
    height: 100%;
}
.main .contents .conImg span{
    position: absolute;
    top:0;
    left:0;
    display: block;
    float: left;
    width:240px ;
    height: 170px;
    background:url("../img/img1.png") ;
    background-size: 300% 300%;
    z-index: 0;
}
.main .contents .conImg9 span.img1{
    background-position :0 0;
    top:0;
    left:0;
}

.main .contents .conImg9 span.img2{
    background-position: -240px 0;
    left:240px;
    top:0;
}
.main .contents .conImg9 span.img3{
    background-position: -480px 0;
    left:480px;
    top:0;
}
.main .contents .conImg9 span.img4{
    background-position: 0 -170px;
    top:170px;
    left:0;
}
.main .contents .conImg9 span.img5{
    background-position: -240px -170px;
    top:170px;
    left:240px;
}
.main .contents .conImg9 span.img6{
    background-position: -480px -170px;
    top:170px;
    left:480px;
}
.main .contents .conImg9 span.img7{
    background-position: 0 -340px;
    top: 340px;
    left:0;
}
.main .contents .conImg9 span.img8{
    background-position: -240px -340px;
    top: 340px;
    left:240px;
}

.main .contents .conImg9 span.pos0{
    top:0;
    left:0;
}
.main .contents .conImg9 span.pos1{
    left:240px;
    top:0;
}
.main .contents .conImg9 span.pos2{
    left:480px;
    top:0;
}
.main .contents .conImg9 span.pos3{
    top:170px;
    left:0;
}
.main .contents .conImg9 span.pos4{
    top:170px;
    left:240px;
}
.main .contents .conImg9 span.pos5{
    top:170px;
    left:480px;
}
.main .contents .conImg9 span.pos6{
    top: 340px;
    left:0;
}
.main .contents .conImg9 span.pos7{
    top: 340px;
    left:240px;
}
#pos{
    background: none;
    top: 340px;
    left:480px;
}